.h20{height:20px;}
.red{ color:#F00;}
.red2 { color:#F00;}
.red2 a{ color:#F00; text-decoration:underline}
.red2 a:hover{color:#F00;}
.chengse{ color:#d7740c;}
.chengse a{ color:#d7740c;}
.chengse  a:hover{color:#d7740c;}
.green { color:#4b941e;text-decoration:underline;}
.green a{ color:#4b941e; text-decoration:underline;}
.green a:hover{ color:#4b941e;text-decoration:underline;}
.lvse{ color:#6db43e;}
.fense{ color:#ee7a84;}

/* Font  */
.fb{font-weight:bold;}
.f11px{font-size:11px;}
.f14px{font-size:14px;}
.f16px{font-size:16px;}
.f10px{font-size:10px;}
.li20px{line-height:20px;}
.f18px{font-size:18px;}
.f20px{font-size:20px;}
.f24px{font-size:24px;}
.f30px{font-size:30px;}
.yahei{font-family:microsoft yahei;}
.mt10{margin-top:10px;}
.ml15{margin-left:15px;}
.mt15{margin-top:15px;}
.tx{ text-align:center;}