@charset "utf-8";
@font-face {
	font-family: 'plicons';
	src:url('../fonts/plicons.eot');
	src:url('../fonts/plicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/plicons.ttf') format('truetype'),
		url('../fonts/plicons.woff') format('woff'),
		url('../fonts/plicons.svg#plicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*==================================================
 * box-shadow Effect 2
 * ===============================================*/
.effect2 {
    position: relative;
}
 
.effect2:before,.effect2:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
 
.effect2:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

/* swiper css*/
.swiper-scrollbar {
	border-radius: 10px;
	position: relative;
	-ms-touch-action: none;
	background: rgba(0,0,0,0.1)
}
.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
}
.swiper-scrollbar-cursor-drag {
	cursor: move;
}
/* for GPU ent */
.gpu1 {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}
/* iosFix GPU */
.gpu2 {
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;    
}


.container {
	height:100%;
}

.mob-scroll-contain {
}

.mob-contain {
	overflow:hidden;
}

.mob-header {
	height:45px;
	background: left bottom repeat-x url(data:image/jpg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAABkAAD/7gAmQWRvYmUAZMAAAAABAwAVBAMGCg0AAAGrAAABzAAAAgQAAAI0/9sAhAABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAgICAgICAgICAgIDAwMDAwMDAwMDAQEBAQEBAQIBAQICAgECAgMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwP/wgARCAAtAAIDAREAAhEBAxEB/8QAfwABAQEAAAAAAAAAAAAAAAAABQQJAQEAAAAAAAAAAAAAAAAAAAAAEAEAAwEAAAAAAAAAAAAAAAAAIBITIREBAAAAAAAAAAAAAAAAAAAAIBIBAAAAAAAAAAAAAAAAAAAAIBMAAQIGAwAAAAAAAAAAAAAAACAREPABUXHRMZGh/9oADAMBAAIRAxEAAAHfUJAgMEID/9oACAEBAAEFArLtGi7r/9oACAECAAEFApf/2gAIAQMAAQUCl//aAAgBAgIGPwJf/9oACAEDAgY/Al//2gAIAQEBBj8CX//aAAgBAQMBPyHMzgzMyXJ//9oACAECAwE/IVf/2gAIAQMDAT8hV//aAAwDAQACEQMRAAAQkgg//9oACAEBAwE/EGWeaH2d10PvX0kcfZ3XUL//2gAIAQIDAT8QV//aAAgBAwMBPxBX/9k=);
	border-bottom:solid 1px #acacac;
	position:relative;
	z-index:10;
}

.com-logo {
	float:left;
	height:100%;
}

.menu-index-wrap {
	position:relative;
}

.menu-index-btn {
	float:right;
	width:45px;
	height:45px;
	border-left:solid 1px #d2d2d2;
	box-shadow:inset 1px 0px 0 0 rgba(255,255,255,1);
	background:center center no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAOCAYAAADABlfOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARFJREFUeNpi7PGWq2VnYazgYGXiYmZkZKAAfPv7/39Hyup7zSxAAysl+dg4RblZGNiYGRkYyTT4////XH+Y2OuAzIcsQIN6BLnYqsV4mJlAhpILGJmY/3GahjwFMsNZfv39X+c048p9ICcKiFkYKAN/gHgNIzBMGYBBwAAMUwZywjRx1V0MMZDLqoG4Eoi5yXHa/DBlGPMrMKI6YRFVBYwoLipEFDc8oliZGTuEeDjrRbkYmEHBQHZEsbD95TINeQyOqN9//zc7Trv4EBpR7BRG1E8gXkmziGoE4jIg5qAwon4CI6oLGFF1oIgqkeJj4xDlYWFgZaIootj/MrODUtF9cEQJAiNKhHoRFUKTiAIIMAA1dljYHdADXAAAAABJRU5ErkJggg==)
}
.menu-index-btn.cur {
	background-repeat: no-repeat, repeat;
	background-position:center center, left top;
	background-color:#f5f5f5;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAOCAYAAADABlfOAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARFJREFUeNpi7PGWq2VnYazgYGXiYmZkZKAAfPv7/39Hyup7zSxAAysl+dg4RblZGNiYGRkYyTT4////XH+Y2OuAzIcsQIN6BLnYqsV4mJlAhpILGJmY/3GahjwFMsNZfv39X+c048p9ICcKiFkYKAN/gHgNIzBMGYBBwAAMUwZywjRx1V0MMZDLqoG4Eoi5yXHa/DBlGPMrMKI6YRFVBYwoLipEFDc8oliZGTuEeDjrRbkYmEHBQHZEsbD95TINeQyOqN9//zc7Trv4EBpR7BRG1E8gXkmziGoE4jIg5qAwon4CI6oLGFF1oIgqkeJj4xDlYWFgZaIootj/MrODUtF9cEQJAiNKhHoRFUKTiAIIMAA1dljYHdADXAAAAABJRU5ErkJggg==), url(../images/public/navbtnbg.png);
}
.menu-index-show {
	-webkit-backface-visibility: hidden;
	position:absolute;
	top:46px;
	left:0;
	width:100%;
	height:34px;
	border-bottom:solid 1px #acacac;
	background:url(../images/public/navbtnbg.png) left top repeat #f5f5f5;
	white-space:nowrap;
	font-size:0;
	letter-spacing:-3px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
	
	-webkit-transform-origin:center top;
	-moz-transform-origin:center top;
	-ms-transform-origin:center top;
	transform-origin:center top;
	
	-webkit-transform	: scaleY(0);
	-moz-transform		: scaleY(0);
	-ms-transform		: scaleY(0);
	-o-transform		: scaleY(0);
	transform			: scaleY(0);
	
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
	
	-webkit-transform-origin:center top;
	-moz-transform-origin:center top;
	-ms-transform-origin:center top;
	transform-origin:center top;

	-webkit-transition: -webkit-transform .12s linear;
	-moz-transition: -moztransform .12s linear;
	-ms-transition: -ms-transform .12s linear;
	-o-transition: -o-transform .12s linear;
	transition: transform .12s linear;
}
.menu-index-show.show {
	-webkit-transform:scaleY(1);
	-moz-transform:scaleY(1);
	-ms-transform:scaleY(1);
	transform:scaleY(1);
}

.menu-index-show .pagination {
	letter-spacing:normal;
	padding:0;
	margin:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block;
	width:25%;
	height:34px;
	font-size:12px;
	line-height:34px;
	text-shadow:1px 1px 0 #fff;
	text-align:center;
}
.icons { font-family:"plicons"; color:#db712f; font-size:16px; line-height:34px; vertical-align:middle; display:inline-block; margin:-3px 3px 0 0;}
.ico-1:before { content:"a"; display:inline-block;}
.ico-2:before { content:"b"; display:inline-block;}
.ico-3:before { content:"c"; display:inline-block;}
.ico-4:before { content:"d"; display:inline-block;}
.menu-index-show .pagination.cur {
	background: url(../images/public/navBg.jpg);
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
	border:solid 1px #cf411b;
	border-style:none solid;
}
.menu-index-show .pagination.cur .icons {
	color:#fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
}

.mob-footer {}
.ft_1 {
	height:32px;
	text-align:center;
	background:#d1d1d1;
}
.ft_1 i {
	font-family:"plicons";
	display:inline-block;
	font-size:24px;
	line-height:32px;
	margin:0 4px;
}
.ft_1 i:nth-child(1) { color:#c8312b}
.ft_1 i:nth-child(2) { color:#23599c}
.ft_1 i:nth-child(3) { color:#464742}

.ft_2 {
	height:33px;
	line-height:33px;
	font-size:12px;
	color:#9d9d9d;
	text-shadow:1px 1px #000;
	background:url(../images/public/footerbg.png) repeat-x;
	text-align:center;
}

.swiper-scrollbar {
  background:none;
  position:absolute;
  right:1px;
  top:0;
  height:100%;
  width:5px;
  z-index:5;
}
.swiper-scrollbar .swiper-scrollbar-drag {
  background:rgba(0,0,0,0.8); 
}

/* banner */
.mob-banner-container.swiper-container{ height:177px;}
.mob-banner {}
.mob-banner-layers.swiper-slide { width:300px;}
.mob-banner-layers { position:relative; width:100%;}
.mob-banner-layers.banner_1 { background:url(../images/public/banner_img_1.jpg) center center no-repeat; -webkit-background-size:; background-size:cover;}
.mob-banner-layers.banner_2 { background:url(../images/public/banner_img_2.jpg) center center no-repeat; -webkit-background-size:contain; background-size:cover;}
.mob-banner-layers.banner_3 { background:url(../images/public/banner_img_3.jpg) center center no-repeat; -webkit-background-size:contain; background-size:cover;}
.mob-banner-layers.banner_4 { background:url(../images/public/banner_img_4.jpg) center center no-repeat; -webkit-background-size:contain; background-size:cover;}
.mob-banner-layers .bannerLable { position:absolute; left:0; bottom:0; width:100%; background:rgba(0,0,0,0.5);}
.bannerLable h2 { color:#fff; padding:0 8px; text-shadow:1px 1px 0 #000; font-size:18px; line-height:1.5em;}
.bannerLable p { color:#fff; padding:0 8px 8px; text-shadow:1px 1px 0 #000; font-size:12px; line-height:1.2em;}
.mob-banner-pagination { background: #e3e3e3; text-align:center; height:17px; border-bottom:solid 1px #c7c7c7; font-size:0; letter-spacing:-3px;}
.mob-banner-pagination .swiper-pagination-switch  {
	display:inline-block; width:8px; height:8px; letter-spacing:normal;margin:4px 2px 0;
	border-radius:5px; background:url(../images/public/00001112.jpg) left bottom repeat-x #fff;
	border:solid 1px #acacac;
}
.mob-banner-pagination .swiper-active-switch:before {
	content:""; width:4px; height:4px; border-radius:50%;
	background:#FF6600; display:block; margin:2px 0 0 2px;
	box-shadow:inset 1px 1px 2px 0 rgba(0,0,0,0.5), 0 0 0 1px rgba(255,255,255,1);
}
/* Page-2-banner */
.page-2-banner {
	width:100%;
	height:177px;
	background:url(../images/public/banner_img_5.jpg) center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size: cover;
}

.mob-page-scroll-wrap { height:100%;}

.dataShowArea-1 { padding:0 8px;}
.dataShowArea-2 { padding:8px 8px 0;}
.page_title {
	height:27px;
	line-height:27px;
	font-size:14px;
	padding:0 8px;
	background:#ececec;
	color:#7d7d7d;
}
.dataTitle { font-size:16px; color:#296faa; line-height:36px;}
.page_title  b {
	 color:#db702e;
}
.page_dataArea {
	padding:10px 0;
}
.page_dataArea2 {
	padding:0;
	border-bottom:solid 1px #dadada;
}
.page_dataArea2 .pgimgs {
	border:0;
	box-shadow:none;
}
.page_dataArea2 .moreLink { padding-bottom:10px;}
.pgimgs {
	float:left;
	width:118px;
	height:118px;
	border:solid 1px #fff;
	box-shadow: 2px 2px 0 0 rgba(0,0,0,0.2);
	margin-right:10px;
	-webkit-background-size:contain;
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center center;
}

.pgimgs2 {
	display:block;
	height:163px;
	width:100%;
	background:center center no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	background-size:cover;
}
.pgimgs3 {
	display:block;
	height:163px;
	width:auto;
	border:solid 3px #fff;
	background:center center no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	background-size:cover;
}

.datafonts {
	color:#666666;
	font-size:14px;
	line-height:1.5em;
}
.aDataTi {}
.contusIcon {font-family:"plicons"; margin-right:6px;}
.aDataArea { margin-left:4em;}
.cusTable {}
.cusTable th { font-weight:normal; text-align:left; white-space:nowrap; word-break:keep-all;}
.cusTable th,
.cusTable td { line-height:24px; vertical-align:top; font-size:12px; -webkit-text-size-adjust: none;}

.moreLink { padding-top:10px;}

.showM {
	text-decoration:none;
	color:#fff;
	display:inline-block;
	height:20px;
	line-height:20px;
	font-size:12px;
	padding:0 4px;
	border:solid 1px #b7410f;
	border-radius:3px;
	text-shadow:1px 1px 0px rgba(0,0,0,0.2);
	background-image: -moz-linear-gradient( 90deg, rgb(205,75,45) 0%, rgb(224,126,48) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(205,75,45) 0%, rgb(224,126,48) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(205,75,45) 0%, rgb(224,126,48) 100%);
}

.pgimgs-1 { background-image:url(../images/public/sampleImg_1_n.jpg);}
.pgimgs-2 { background-image:url(../images/public/sampleImg_2_n.jpg); width:104px; height:136px;}
.pgimgs-3 { background-image:url(../images/public/sampleImg_3_n.jpg); width:104px; height:136px; float:right; margin-right:0; margin-left:10px;}
.pgimgs-4 { background-image:url(../images/public/sampleImg_4_n.jpg); width:104px; height:136px;}
.pgimgs-5 { background-image:url(../images/public/sampleImg_5_n.jpg); margin:10px 0;}
.pgimgs-6 { background-image:url(../images/public/sampleImg_6_n.jpg); margin:10px 0; height:165px;}
.pgimgs-7 { background-image:url(../images/public/sampleImg_7_n.jpg); margin:7px 0 10px; height:144px;}
.pgimgs-8 { background-image:url(../images/public/sampleImg_8_n.jpg); margin:7px 0 10px; height:144px;}
.pgimgs-9 { background-image:url(../images/public/sampleImg_9_n.jpg); margin:7px 0 10px; height:144px;}

.why-us-list {
	padding:0;
	margin:0;
	width:100%;
}
.why-us-list li {
	float:left;
	width:50%;
	margin-bottom:10px;
}
.why-us-list li:nth-child(2n-1) {
	padding-right:10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
.why-us-list li span { display:inline-block; font-size:12px;-webkit-text-size-adjust:none; vertical-align:top;}
.why-us-list li span.liNum {
	text-align:center; line-height:17px; width:17px; float:left; 
	background:#d6632e; color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,0.2);
	font-style:italic;
	margin-right:-17px;
	position:relative;
}
.why-us-list li span.liInsideWrap {
	height:17px;
	font-size:12px;
	line-height:17px;
	padding-left:25px;
	background:#f3f3f3;
	width:100%;
	color:#454545;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	border: dashed 1px #d7d7d7;
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
}
/* 视网膜显示屏CSS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2) {

.menu-index-btn {
	-webkit-background-size:21px 14px;
	background-size:21px 14px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAbCAYAAADh0qZQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAkVJREFUeNrsl89LVFEUx8/98Xwz+q464ksXMyFF6ygLzWgZYfTLwBbRxoIgMIggKDVSqkWriFZl5KZVq7LwfymIMYoiioqgmXnOe+/2Pc+xhQUtgpkreOB7uefxFodz7zmfe8SdwyWlhJhq0+J8TsuiloIcsPdxaudrcXr74rPlRCPAmyanrm3p0FRo1+QrQUK0NlBrbTFK7JzaOrgX7nHtI4N9gaZSVxsFviKFTLY6lxZKUkvVb68PYXsWQUrZnddkGgG6YBwFX7tg9e4dk1geuBHan2Z2jX7gmGUUpzPetuGlimyvc4pdMJk39WBo/G04Nl2G+0JHsU32XXl8FM4EdATqdiSR36GX0IJACyJUOKGAIEnNbkETT9/88x/NS2ItVeqs1Mm7KWkDGGeSiTMJ4lzCcZdw6qqZzXzh1Pb1n3Cw9l1s6R6K+v4acWaNL2fCwKMe9EsES7K1xFGptQMrsb0rSjsPwB9n4lzoMx4VQRzjGHEqP8pZ12HiCCZOp4PEMV5WMqvEcbVgQJyPa8S57u/Y/7zm9+BlZMkF5kjTWzMjp8vhiSkmzmJGnOHL8yfhnIFGoX5HEvkJWoKe/CYOV3XOdeJU66xN4vw3ceb4hY52FDb7uP9CHLbPKOKHKOobkw3i3MKMc5VHiAITx40ZJ1xJ7LQa2LObn4/ZjNMfMHE8p0YIJs7Pr68OYnuOiUNdeeVUgBnAM+Iou1GIYxvEGVmsep1R4gpxOgoRiLO8jjiPxhrE4VdHryOJ/MJDGBPnlwADAH2WxhTCe5KCAAAAAElFTkSuQmCC);
}
.menu-index-btn.cur {
	-webkit-background-size:21px 14px, auto auto;
	background-size:21px 14px, auto auto;
	background-color:#f5f5f5;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAbCAYAAADh0qZQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAkVJREFUeNrsl89LVFEUx8/98Xwz+q464ksXMyFF6ygLzWgZYfTLwBbRxoIgMIggKDVSqkWriFZl5KZVq7LwfymIMYoiioqgmXnOe+/2Pc+xhQUtgpkreOB7uefxFodz7zmfe8SdwyWlhJhq0+J8TsuiloIcsPdxaudrcXr74rPlRCPAmyanrm3p0FRo1+QrQUK0NlBrbTFK7JzaOrgX7nHtI4N9gaZSVxsFviKFTLY6lxZKUkvVb68PYXsWQUrZnddkGgG6YBwFX7tg9e4dk1geuBHan2Z2jX7gmGUUpzPetuGlimyvc4pdMJk39WBo/G04Nl2G+0JHsU32XXl8FM4EdATqdiSR36GX0IJACyJUOKGAIEnNbkETT9/88x/NS2ItVeqs1Mm7KWkDGGeSiTMJ4lzCcZdw6qqZzXzh1Pb1n3Cw9l1s6R6K+v4acWaNL2fCwKMe9EsES7K1xFGptQMrsb0rSjsPwB9n4lzoMx4VQRzjGHEqP8pZ12HiCCZOp4PEMV5WMqvEcbVgQJyPa8S57u/Y/7zm9+BlZMkF5kjTWzMjp8vhiSkmzmJGnOHL8yfhnIFGoX5HEvkJWoKe/CYOV3XOdeJU66xN4vw3ceb4hY52FDb7uP9CHLbPKOKHKOobkw3i3MKMc5VHiAITx40ZJ1xJ7LQa2LObn4/ZjNMfMHE8p0YIJs7Pr68OYnuOiUNdeeVUgBnAM+Iou1GIYxvEGVmsep1R4gpxOgoRiLO8jjiPxhrE4VdHryOJ/MJDGBPnlwADAH2WxhTCe5KCAAAAAElFTkSuQmCC), url(../images/public/navbtnbg.png);
}

}